name: Actionlint
on:
  push:
    branches:
      - 'main'
  pull_request:

jobs:
  actionlint:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4
    - name: actionlint
      uses: raven-actions/actionlint@v1
      with:
        pyflakes: false